html,body,#root {
    width: 100%;
    height: 100%;
}

#root {

    background-color: black;
}
#info {
	position: absolute;
	top: 80px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    color: white;
}

/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
} */

.container {
    max-width: 800px;
	color: white;
    margin: auto;
    background: rgb(43, 47, 55);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	margin-top: 100px;
	display: flex;
    flex-direction: row;

}

h1 {
    text-align: center;
    margin-bottom: 20px;
	font-size:xx-large;
}
h3 {
    text-align: center;
	font-weight: bold ;
    
} 
h5 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
	width: 50%;
	margin-right: 20px;
}

.contact-details {
	display: flex;
    flex-direction: column;
	width: 50%;
	margin-left: 20px;
	background-color: antiquewhite;
	border-radius: 8px;
	color: black
}

label {
	color: white;
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
	background-color: rgb(223, 221, 221);
	color: black;
}

#blue-btn {
    padding: 10px;
    background-color: rgb(99, 102, 241);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

#blue-btn:hover {
    background-color: rgb(69, 72, 212);
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    input, button {
        font-size: 14px;
    }
}
.resume-div{
	color: white;
	margin-left: 20px;
	margin-right: 20px;
	

}
.button-div{
	display: flex;
    align-items: center;
    flex-direction: column;
	margin-top: 20px;
	margin-bottom: 20px;
}

.social-icon {
	background-color: rgb(246, 248, 250);
}
.social-group {
	background-color: rgb(43, 47, 55);
}
#contact-info-heading {
	margin-bottom: 50px;
	margin-top: 20px;
}